<div class='col-md-8 pt-5'>
	<h1 class='mb-3'>About Splurty</h1>
	<p class='mb-3'>
    Splurty was built by <a target="_blank" class='bold brand-color' href="https://github.com/Davey-Wright">Davey</a> in Bridgend, Wales. Splurty is an Arnold Shwarzenneger movie quotes generator. This is Daveys first Web App of many that he hopes to build while he is a student at <a href="https://thefirehoseproject.com/" class='bold brand-color'>The Firehose Project</a>.
  </p>

  <div class='my-5 row'>
    <div class=' col-md-6'>
      <%= image_tag 'pooch.png' %>
    </div>
  	<div class='col-md-6 mt-4 mt-md-0'>
  		<h2 class='h4'>Davey Wright</h2>
  		<p>Davey is a Web Developer and student at The Firehose Project. He likes strong coffee, kitesurfing and learning how to code while making cool things.</p>
  	</div>
  </div>

</div>
