
<h3 class='h4 pt-5 mr-auto'>SPLURTY / No. <%= @quote.id %> - <span class='h5 italic serif text-muted'>We could all use a little more Arnie in our lives...</span></h3>

<h1 class='quote col-md-9 mt-5'><%= @quote.saying %></h1>

<div class='italic ml-auto mt-4 mb-5 d-flex flex-column'>
	<h2 class='h5'> Arnold Schwarzenneger</h2>
	<h3 class='h6 ml-md-auto'> - <%= @quote.movie_reference %></h3>
</div>